@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-sidebar-wrapper {
        @apply flex items-center gap-2 text-primary font-medium px-5 py-3 w-full rounded duration-200 hover:text-white hover:bg-primary
    }
    .nav-sidebar-wrapper.active {
        @apply bg-primary text-white
    }
    .nav-sidebar-wrapper.active svg path, .nav-sidebar-wrapper:hover svg path {
        @apply stroke-white
    }
    .input-text {
        @apply bg-[#F4F5FA] placeholder:font-light px-4 py-3 w-full rounded focus:outline-none text-sm
    }
    .btn {
        @apply px-4 py-3 rounded duration-200 text-sm
    }
    .btn-primary {
        @apply bg-primary text-white hover:brightness-110
    }
    tbody tr {
        @apply even:bg-[#F4F5FA]
    }
    tbody tr td {
        @apply py-2 first:rounded-l last:rounded-r
    }
    .btn-danger {
        @apply bg-red-600 text-white hover:brightness-110
    }
    .input-auth{
        @apply py-3 pl-10 pe-3 border border-[#757575] rounded w-full
    }
    .card-auth {
        @apply w-[500px] rounded-xl py-5 px-6 bg-white
    }
}

    .pagination-container {
        display: flex;
        column-gap: 10px;
        margin-top: 40px;
        width: 100%;
        justify-content: center;
    }
    .paginate-buttons {
        display: flex;
        font-size: 12px;
        justify-content: center;
        align-items: center;
        height: 32px;
        width: 32px;
        border-radius: 4px;
        cursor: pointer;
        background-color: rgb(242, 242, 242);
        border: 1px solid rgb(217, 217, 217);
        color: black;
    }
    .paginate-buttons:hover {
        background-color: #536942;
        color: white;
    }
    .active-page {
        background-color: #536942;
        border: 1px solid #536942;
        color: white;
    }
    .active-page:hover {
        background-color: #536942;
    }
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        display: none;
    }
body::-webkit-scrollbar {
    display: none;
}